body.login {
    background: #021a2b;
}

.login h1 a {
    background-image: url('../login/logo.png');
    background-size: 300px 72px;
    width: 300px;
    height: 72px;
}

#login {
    padding: 30px 0 0;
}

.login form {
    margin-left:auto;
    margin-right:auto;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    background-clip: padding-box;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden;
}

.login label {
    color: #333;
    line-height: 26px;
}

.login .button-primary {
    width: 120px;
    float:right;
    background-color:#083353 !important;
    color: #849db0;
}

.login .button-primary:hover {
    background-color:#083353 !important;
    color: #fff;
}

.login .button-primary:active {
    background-color:#083353 !important;
    color: #fff;
}